.todo__alert--success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 18px;
}

.todo__alert--danger {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    height: 45px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 18px;
}

.todo__alert--danger ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.todo__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.section__title {
    margin: 0 auto;
    width: 70%;
}

.create-form,
.search-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
    gap: 15px;
}

.create-form__item,
.search-form__item {
    display: flex;
    width: 70%;
}

.create-form__item-input,
.search-form__item-input {
    padding: 10px;
    width: 440px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.create-form__item-select,
.search-form__item-select {
    margin-right: 50px;
    padding: 10px;
    width: 160px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    font-size: 14px;
}

.create-form__button,
.search-form__button {
    width: 20%;
}

.create-form__button-submit,
.search-form__button-submit {
    padding: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.1em;
}

@media (max-width: 800px) {
    .todo__content {
        margin: 0 auto;
        max-width: 80%;
    }

    .section__title {
        font-size: 15px;
        margin-left: 8%;
    }

    .create-form,
    .search-form {
        margin: 0 25px;
        gap: 5px;
        width: 55%;
    }

    .create-form__button,
    .search-form__button {
        justify-content: center;
    }

    .create-form__button-submit,
    .search-form__button-submit {
        width: 90px;
        height: 40px;
    }
}

.todo-table {
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
}

.todo-table__header-span {
    margin-right: 40%;
}

@media (max-width: 800px){
    .todo-table__header-span {
        margin-right: 30%;
    }
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 40%;
    line-height: 50%;
    /* gap: 38%; */
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
    /*padding: 4px 8px;*/
}

.update-form__item-p{
    text-align: left;
    font-size: 13px;
}

.update-form__button {
    width: 50px;
    /*width: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;*/
}

.update-form__button-submit {
    padding: 6px 8px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 2px;
}

.delete-form__button {
    width: 50px;
    /*display: flex;
    justify-content: flex-end;
    margin-right: 20px;*/
}

.delete-form__button-submit {
    padding: 10px 24px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    background: #ff0000;
    color: #fff;
    letter-spacing: 2px;
}